select {
  border: none;
  color: #22262a;
  font-size: 20px;
  font-weight: 400;
}
.profile_container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.option_block {
  display: flex;
  align-items: center;
}
.profile_block {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}
.balance {
  color: #929292;
  font-size: 20px;
  font-weight: 400;
  &::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 21px;
    background-image: url("../../img/search-icon.svg");
    margin-left: 6px;
    vertical-align: middle;
  }
}
.items {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  &::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url("../../img/Cart.svg");
    margin-right: 20px;
    vertical-align: middle;
  }
}
.profile {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  text-wrap: nowrap;
  display: flex;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../img/profle_icon.svg");
    margin-right: 5px;
    vertical-align: middle;
  }
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.header_img_block {
  display: flex;
  width: 130px;
  align-items: center;
}
.header_navbar {
  display: flex;
  width: 815px;
  gap: 97px;
}
.header_navbar_link {
  color: #262626;
  font-size: 24px;
  font-weight: 500;
  &:hover {
    color: #40bfff;
  }
}
strong {
  color: #22262a;
  font-size: 18px;
  font-weight: 700;
}
.hero_section {
  background-image: url("../../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 653px;
  width: 100%;
  margin-top: 30px;
}
.hero_title {
  max-width: 573px;
  width: 100%;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 150%; /* 96px */
  letter-spacing: 0.5px;
  padding-top: 258px;
  padding-bottom: 166px;
}
.header_img_block strong {
  text-wrap: nowrap;
  margin-left: 5px;
}
.header_form {
  position: relative;
  width: 350px;
}
.header_search {
  padding: 10px;
  border-radius: 8px;
  margin-left: 25px;
  width: 90%;
}
.list_products {
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  background-color: #fff;
  border: 20px;
  top: 100%;
  z-index: 1;
  border-radius: 15px;
}
.search_card {
  display: flex;
  background-color: #fff;
  width: 100%;
  align-items: center;
  gap: 5px;
}
.item_count {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 150%; /* 15px */
  letter-spacing: 0.5px;
  width: 20px;
  height: 20px;
  background-color: #fb7181;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  left: 10px;
}
.item_div {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .header_container {
    display: none;
  }
}
@media screen and (max-width: 825px) {
  .balance {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .option_block > select {
    display: none;
  }
  .hero_title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: 0.5px;
  }
 
}
@media screen and (max-width: 650px) {
  .profile {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .items,
  .item_count {
    display: none;
  }
}
